@import "tailwindcss";

:root {
  --matcha-dark: #2d4030;
  --matcha-accent: #5d7f60;
  --matcha-subtle: #c7dbc6;
  --bg-cream: #f9f8f6;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-playfair);
}
